<section id="view{{form}}" class="view{{forms}}">
  <h1 class="titleForm">Please {{form}}</h1>
  <form id="form{{form}}" class="form">
    <div>Username:</div>
    <div>
      <input type="text" name="username" data-msg="Please fill this field" required />
    </div>
    <div>Password:</div>
    <div>
      <input type="password" name="passwd" data-msg="Please fill this field" required />
    </div>
    <div>
      <input type="button" id="button{{form}}User" value="{{form}}" />
    </div>
  </form>
</section>