<section id="viewDetailsAd" class="viewDetails">
  <h1 id="detailsTitle" class="titleForm">{{title}}</h1>
  <img id="detailsImage" src="{{link}}" />
  <br/> Description:
  <p id="detailsDescription">{{description}}</p>
  <p>Publisher:
    <span>{{publisherName}}</span>
  </p>
  <p>Date:
    <span id="detailsDate">{{date}}</span>
  </p>
  <p>Views:
    <span id="detailsViews">{{viewCount}}</span>
  </p>
</section>