<div class="row">
    <div class="col wide" name="type">{{type}}</div>
    <div class="col wide" name="qty">{{qty}}</div>
    <div class="col wide" name="price">{{price}}</div>
    <div class="col" name="subtotal">{{subtotal}}</div>
    <div class="col right">
        <a href="#/deleteEntry/{{_id}}">&#10006;</a>
    </div>
</div>